


.container{
    display: flex;
    gap:5px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    transition: all 0.5s;
    color:white;
    background: #2196f3;
}
.container:hover{
    transform: scale(1.05);
    cursor:pointer;
}

