

.container{
    display: flex;
    color:gray;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: fit-content;
    border: 1px solid gray;
    transition: all 0.5s;
}
.container:hover{
    transform: scale(1.05);
    cursor:pointer;
}