.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    background: white;
    border:3px solid red;
    cursor: pointer;
    transition: all 0.5s;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.container:hover{
    background: red;
    color: white;
}